{% load static %}

{% load i18n %}


<div class="col-md-4 side-bar">
    <div class="first_half">
        <div class="categories">
            <ul>
                <li><a href="/cemm">{% trans "Page du CEMM" %}</a></li>
                <li><a href="/formations">{% trans "Formations" %}</a></li>
                <li><a href="/concours">{% trans "Concours metiers" %}</a></li>
                <li><a href="/action-etat-mer">{% trans "CRR Actualites" %}</a></li>
                <li><a href="/organisation">{% trans "Organisation" %}</a></li>
            </ul>
        </div>
        
        <div class="list_vertical">
            <section class="accordation_menu">
                <div>
                    <input id="label-1" name="lida" type="radio" checked/>
                    <label for="label-1" id="item1"><i class="ferme"> </i>{% trans "Liens" %}<i
                            class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                    <div class="content" id="a1">
                        <div class="scrollbar" id="style-2">
                            <div class="force-overflow">
                                <div class="popular-post-grids">
                                    <div class="popular-post-grid">
                                        <div class="post-img">
                                            <a href="/single"><img src="{% static 'images/bus2.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="post-text">
                                            <a class="pp-title" href="/single"> Organigramme</a>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="popular-post-grid">
                                        <div class="post-img">
                                            <a href="/single"><img src="{% static 'images/bus1.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="post-text">
                                            <a class="pp-title" href="/single"> Textes officiels</a>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="popular-post-grid">
                                        <div class="post-img">
                                            <a href="/single"><img src="{% static 'images/bus3.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="post-text">
                                            <a class="pp-title" href="/single">Etat Major</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="popular-post-grid">
                                        <div class="post-img">
                                            <a href="/single"><img src="{% static 'images/bus4.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="post-text">
                                            <a class="pp-title" href="/single">FORSUR </a>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="popular-post-grid">
                                        <div class="post-img">
                                            <a href="/single"><img src="{% static 'images/bus4.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="post-text">
                                            <a class="pp-title" href="/single">FORFUMAPCO </a>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="popular-post-grid">
                                        <div class="post-img">
                                            <a href="/single"><img src="{% static 'images/bus4.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="post-text">
                                            <a class="pp-title" href="/single">Organismes Spécialisés </a>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="popular-post-grid">
                                        <div class="post-img">
                                            <a href="/single"><img src="{% static 'images/bus4.jpg' %}" alt=""/></a>
                                        </div>
                                        <div class="post-text">
                                            <a class="pp-title" href="/single">MINDEF </a>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    <div class="secound_half">
        <div class="tags">
            <header>
                <h3 class="title-head">{% trans "Tags" %}</h3>
            </header>
            <p>
                <a class="tag1" href="/single">Bakassi</a>
                <a class="tag2" href="/single">Douala</a>
                <a class="tag7" href="/single">Cameroon</a>
                <a class="tag8" href="/single">Kribi</a>
                <a class="tag9" href="/single">Buea</a>
                <a class="tag10" href="/single">owing to the</a>
                <a class="tag11" href="/single">Limbe</a>
                <a class="tag12" href="/single">tempora incidunt</a>
                <a class="tag14" href="/single">Kribi</a>
                <a class="tag15" href="/single">Military</a>
                <a class="tag17" href="/single">Marines</a>
                <a class="tag19" href="/single">Yaounde</a>
            </p>
        </div>

    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>