{% extends "base.html"%}

{% load staticfiles %}

{% block content %}
	<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
		<ol class="breadcrumb">
			  <li><a href="/">Home</a></li>
			  <li class="active">Sports</li>
			</ol>
			<div class="col-md-8 content-left">
			<div class="articles sports">
					<header>
						<h3 class="title-head">Sports</h3>
					</header>
					<div class="article">
						<div class="article-left">
							<a href="/singlel"><img src="{% static 'assets/images/sport1.jpg' %}"></a>
						</div>
						<div class="article-right">
							<div class="article-title">
								<p>On Feb 25, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>52</a></p>
								<a class="title" href="/singlel"> The section of the mass media industry that focuses on presenting</a>
							</div>
							<div class="article-text">
								<p>The standard chunk of Lorem Ipsum used since the 1500s. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" exact original.....</p>
								<a href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="article">
						<div class="article-left">
							<a href="/singlel"><img src="{% static 'assets/images/sport2.jpg' %}"></a>
						</div>
						<div class="article-right">
							<div class="article-title">
								<p>On Jun 21, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>181 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>89</a></p>
								<a class="title" href="/singlel">There are many variations that focuses on presenting</a>
							</div>
							<div class="article-text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.....</p>
								<a href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="article">
						<div class="article-left">
							<a href="/singlel"><img src="{% static 'assets/images/sport3.jpg' %}"></a>
						</div>
						<div class="article-right">
							<div class="article-title">
								<p>On Jan 17, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>144 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>74</a></p>
								<a class="title" href="/singlel">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
							</div>
							<div class="article-text">
								<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.....</p>
								<a href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="sports-top">
							<div class="s-grid-left">
								<div class="cricket">
								<header>
									<h3 class="title-head">Cricket</h3>
								</header>
									<div class="c-sports-main">
											<div class="c-image">
												<a href="/singlel"><img src="{% static 'assets/images/crt1.jpg' %}" alt="" /></a>
											</div>
											<div class="c-text">
												<h6>cricket</h6>
												<a class="power" href="/singlel">Power Reigns Supreme at 11th Cricket World Cup</a>
												<p class="date">On Jun 25, 2015</p>
												<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="/singlel"><img src="{% static 'assets/images/crt2.jpg' %}" alt="" /></a>
											</div>
										<div class="sc-text">
											<h6>cricket</h6>
											<a class="power" href="/singlel">international Cricket Council President Walks out</a>
											<p class="date">On Apr 11, 2015</p>
											<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
										</div>
										<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="/singlel"><img src="{% static 'assets/images/crt3.jpg' %}" alt="" /></a>
											</div>
										<div class="sc-text">
											<h6>cricket</h6>
											<a class="power" href="/singlel">international Cricket World Cup Final After Trophy Snub</a>
											<p class="date">On Apr 05, 2015</p>
											<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
										</div>
										<div class="clearfix"></div>
										</div>
									</div>
								</div>
							<div class="s-grid-right">
								<div class="cricket">
								<header>
									<h3 class="title-head">football</h3>
								</header>
									<div class="c-sports-main">
											<div class="c-image">
												<a href="/singlel"><img src="{% static 'assets/images/fcrt1.jpg' %}" alt="" /></a>
											</div>
											<div class="c-text">
												<h6>football</h6>
												<a class="power" href="/singlel">Power Reigns Supreme at 11th Cricket World Cup</a>
												<p class="date">On May 18, 2015</p>
												<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="/singlel"><img src="{% static 'assets/images/fcrt2.jpg' %}" alt="" /></a>
											</div>
										<div class="sc-text">
											<h6>football</h6>
											<a class="power" href="/singlel">international football Council out of World Cup</a>
											<p class="date">On May 01, 2015</p>
											<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
										</div>
										<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="/singlel"><img src="{% static 'assets/images/fcrt3.jpg' %}" alt="" /></a>
											</div>
										<div class="sc-text">
											<h6>football</h6>
											<a class="power" href="/singlel">international football Council out of World Cup</a>
											<p class="date">On Feb 10, 2015</p>
											<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
										</div>
										<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						  <div class="sports-top">
							<div class="s-grid-left">
								<div class="cricket">
								<header>
									<h3 class="title-head">tennis</h3>
								</header>
									<div class="c-sports-main">
											<div class="c-image">
												<a href="/singlel"><img src="{% static 'assets/images/tcrt1.jpg' %}" alt="" /></a>
											</div>
											<div class="c-text">
												<h6>tennis</h6>
												<a class="power" href="/singlel">Power Reigns Supreme at 11th Cricket World Cup</a>
												<p class="date">On May 11, 2015</p>
												<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="/singlel"><img src="{% static 'assets/images/tcrt2.jpg' %}" alt="" /></a>
											</div>
										<div class="sc-text">
											<h6>tennis</h6>
											<a class="power" href="/singlel">World Cup Final After Trophy Snub</a>
											<p class="date">On Feb 05, 2015</p>
											<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
										</div>
										<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="/singlel"><img src="{% static 'assets/images/tcrt3.jpg' %}" alt="" /></a>
											</div>
										<div class="sc-text">
											<h6>tennis</h6>
											<a class="power" href="/singlel">international Tennis Council President Walks out of World Cup</a>
											<p class="date">On Jan 18, 2015</p>
											<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
										</div>
										<div class="clearfix"></div>
										</div>
									</div>
								</div>
							<div class="s-grid-right">
								<div class="cricket">
								<header>
									<h3 class="title-head">formula1</h3>
								</header>
									<div class="c-sports-main">
											<div class="c-image">
												<a href="/singlel"><img src="{% static 'assets/images/pcrt1.jpg' %}" alt="" /></a>
											</div>
											<div class="c-text">
												<h6>lorem</h6>
												<a class="power" href="/singlel">Power Reigns Supreme at 11th Cricket World Cup</a>
												<p class="date">On Jan 14, 2015</p>
												<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="/singlel"><img src="{% static 'assets/images/pcrt2.jpg' %}" alt="" /></a>
											</div>
										<div class="sc-text">
											<h6>lorem</h6>
											<a class="power" href="/singlel">international Cricket Council President</a>
											<p class="date">On May 01, 2015</p>
											<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
										</div>
										<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="/singlel"><img src="{% static 'assets/images/pcrt3.jpg' %}" alt="" /></a>
											</div>
										<div class="sc-text">
											<h6>lorem</h6>
											<a class="power" href="/singlel">international Walks out of World Cup Final After Trophy Snub</a>
											<p class="date">On Dec 11, 2014</p>
											<a class="reu" href="/singlel"><img src="{% static 'assets/images/more.png' %}" alt="" /></a>
										</div>
										<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
					<div class="photos">
					<header>
						<h3 class="title-head">Photos</h3>
					</header>
					 <div class="course_demo1">
								  <ul id="flexiselDemo">	
									 <li>
										<a href="/singlel"><img src="{% static 'assets/images/sg4.jpg' %}" alt="" /></a>
									 </li>
									 <li>
										<a href="/singlel"><img src="{% static 'assets/images/sg5.jpg' %}" alt="" /></a>
									  </li>	
									 <li>
										<a href="/singlel"><img src="{% static 'assets/images/sg6.jpg' %}" alt="" /></a>
									 </li>	
									 <li>
										<a href="/singlel"><img src="{% static 'assets/images/sg1.jpg' %}" alt="" /></a>
									 </li>	
								 </ul>
							 </div>
							 <link rel="stylesheet" href="{% static 'assets/css/flexslider.css' %}" type="text/css" media="screen" />
								<script type="text/javascript">
							 $(window).load(function() {
								$("#flexiselDemo").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 2
										}, 
										landscape: { 
											changePoint:640,
											visibleItems: 2
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							 });
							  </script>
							 <script type="text/javascript" src="{% static 'assets/js/jquery.flexisel.js' %}"></script>
					</div>

				</div>
			<div class="col-md-4 side-bar">
			<div class="first_half">
				<div class="newsletter">
					<h1 class="side-title-head">Newsletter</h1>
					<p class="sign">Sign up to receive our free newsletters!</p>
					<form>
						<input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
						<input type="submit" value="submit">
					</form>
				</div>
				<div class="list_vertical">
		         	 	<section class="accordation_menu">
						  <div>
						    <input id="label-1" name="lida" type="radio" checked/>
						   <label for="label-1" id="item1"><i class="ferme"> </i>Popular Posts<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
						    <div class="content" id="a1">
						    	<div class="scrollbar" id="style-2">
								 <div class="force-overflow">
									<div class="popular-post-grids">
										<div class="popular-post-grid">
											<div class="post-img">
												<a href="/singlel"><img src="{% static 'assets/images/bus2.jpg' %}" alt="" /></a>
											</div>
											<div class="post-text">
												<a class="pp-title" href="/singlel"> The section of the mass media industry</a>
												<p>On Feb 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>3 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="popular-post-grid">
											<div class="post-img">
												<a href="/singlel"><img src="{% static 'assets/images/bus1.jpg' %}" alt="" /></a>
											</div>
											<div class="post-text">
												<a class="pp-title" href="/singlel"> Lorem Ipsum is simply dummy text printing</a>
												<p>On Apr 14 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>2 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="popular-post-grid">
											<div class="post-img">
												<a href="/singlel"><img src="{% static 'assets/images/bus3.jpg' %}" alt="" /></a>
											</div>
											<div class="post-text">
												<a class="pp-title" href="/singlel">There are many variations of Lorem</a>
												<p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="popular-post-grid">
											<div class="post-img">
												<a href="/singlel"><img src="{% static 'assets/images/bus4.jpg' %}" alt="" /></a>
											</div>
											<div class="post-text">
												<a class="pp-title" href="/singlel">Sed ut perspiciatis unde omnis iste natus</a>
												<p>On Jan 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									</div>
                                </div>
                              </div>
						  </div>
						  <div>
						    <input id="label-2" name="lida" type="radio"/>
						    <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>Recent Posts<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
						    <div class="content" id="a2">
						       <div class="scrollbar" id="style-2">
								   <div class="force-overflow">
									<div class="popular-post-grids">
											<div class="popular-post-grid">
												<div class="post-img">
													<a href="/singlel"><img src="{% static 'assets/images/tec2.jpg' %}" alt="" /></a>
												</div>
												<div class="post-text">
													<a class="pp-title" href="/singlel"> The section of the mass media industry</a>
													<p>On Feb 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>3 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="popular-post-grid">
												<div class="post-img">
													<a href="/singlel"><img src="{% static 'assets/images/tec1.jpg' %}" alt="" /></a>
												</div>
												<div class="post-text">
													<a class="pp-title" href="/singlel"> Lorem Ipsum is simply dummy text printing</a>
													<p>On Apr 14 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>2 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="popular-post-grid">
												<div class="post-img">
													<a href="/singlel"><img src="{% static 'assets/images/tec3.jpg' %}" alt="" /></a>
												</div>
												<div class="post-text">
													<a class="pp-title" href="/singlel">There are many variations of Lorem</a>
													<p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="popular-post-grid">
												<div class="post-img">
													<a href="/singlel"><img src="{% static 'assets/images/tec4.jpg' %}" alt="" /></a>
												</div>
												<div class="post-text">
													<a class="pp-title" href="/singlel">Sed ut perspiciatis unde omnis iste natus</a>
													<p>On Jan 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</div>
						    </div>
						  </div>
						  <div>
						    <input id="label-3" name="lida" type="radio"/>
						    <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i>Comments<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
						    <div class="content" id="a3">
						       <div class="scrollbar" id="style-2">
							    <div class="force-overflow">
								 <div class="response">
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="{% static 'assets/images/icon1.png' %}" alt="" />
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>MARCH 21, 2015</li>
									<li><a href="/singlel">Reply</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="{% static 'assets/images/icon1.png' %}" alt="" />
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>MARCH 26, 2015</li>
									<li><a href="/singlel">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="{% static 'assets/images/icon1.png' %}" alt="" />
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>MAY 25, 2015</li>
									<li><a href="/singlel">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="{% static 'assets/images/icon1.png' %}" alt="" />
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>FEB 13, 2015</li>
									<li><a href="/singlel">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="{% static 'assets/images/icon1.png' %}" alt="" />
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>JAN 28, 2015</li>
									<li><a href="/singlel">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="{% static 'assets/images/icon1.png' %}" alt="" />
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>APR 18, 2015</li>
									<li><a href="/singlel">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="{% static 'assets/images/icon1.png' %}" alt="" />
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>DEC 25, 2014</li>
									<li><a href="/singlel">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					</div>

                                </div>
						    </div>
						  </div>
						</section>
					 </div>
					  </div>
					 <div class="secound_half">
					 <div class="tags">
						<header>
							<h3 class="title-head">Tags</h3>
						</header>
						<p>
						<a class="tag1" href="/singlel">At vero eos</a>
						<a class="tag2" href="/singlel">doloremque</a>
						<a class="tag3" href="/singlel">On the other</a>
						<a class="tag4" href="/singlel">pain was</a>
						<a class="tag5" href="/singlel">rationally encounter</a>
						<a class="tag6" href="/singlel">praesentium voluptatum</a>
						<a class="tag7" href="/singlel">est, omnis</a>
						<a class="tag8" href="/singlel">who are so beguiled</a>
						<a class="tag9" href="/singlel">when nothing</a>
						<a class="tag10" href="/singlel">owing to the</a>
						<a class="tag11" href="/singlel">pains to avoid</a>
						<a class="tag12" href="/singlel">tempora incidunt</a>
						<a class="tag13" href="/singlel">pursues or desires</a>
						<a class="tag14" href="/singlel">Bonorum et</a>
						<a class="tag15" href="/singlel">written by Cicero</a>
						<a class="tag16" href="/singlel">Ipsum passage</a>
						<a class="tag17" href="/singlel">exercitationem ullam</a>
						<a class="tag18" href="/singlel">mistaken idea</a>
						<a class="tag19" href="/singlel">ducimus qui</a>
						<a class="tag20" href="/singlel">holds in these</a>
						</p>
					 </div>					 
					 <div class="popular-news">
						<header>
							<h3 class="title-popular">popular News</h3>
						</header>
						<div class="popular-grids">
							<div class="popular-grid">
								<a href="/singlel"><img src="{% static 'assets/images/popular-4.jpg' %}" alt="" /></a>
								<a class="title" href="/singlel">It is a long established fact that a reader will be distracted</a>
								<p>On Aug 31, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
							</div>
							<div class="popular-grid">
								<a href="/singlel"><img src="{% static 'assets/images/popular-1.jpg' %}" alt="" /></a>
								<a class="title" href="/singlel">It is a long established fact that a reader will be distracted</a>
								<p>On Mar 14, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
							</div>
							<div class="popular-grid">
								<iframe width="100%" src="https://www.youtube.com/embed/LGMn_yi_62k" frameborder="0" allowfullscreen></iframe>
								<a class="title" href="/singlel">Aishwarya Rai Bachchan's Latest SHOCKING News For Ex Salman Khan</a>
								<p>On Mar 14, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
							</div>
							<div class="popular-grid">
								<a href="/singlel"><img src="{% static 'assets/images/popular-3.jpg' %}" alt="" /></a>
								<a class="title" href="/singlel">It is a long established fact that a reader will be distracted</a>
								<p>On Mar 14, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
							</div>
						</div>
					</div>
					</div>
					<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- content-section-ends-here -->
{% endblock %}