{% extends "base.html"%}

{% load staticfiles %}

{% block content %}
<!-- content-section-starts-here -->
<div class="main-body">
    <div class="wrap">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Technology</li>
        </ol>
        <div class="col-md-8 content-left">
            <div class="articles sports">
                <header>
                    <h3 class="title-head">Technology</h3>
                </header>
                <div class="technology">
                    <div class="tech-main">
                        <div class="tech">
                            <a href="/single"><img src="{% static 'images/tech1.jpg' %}" alt=""/></a>
                            <a class="power" href="/single">You can still get into trouble for online posts: Digital law
                                experts</a>
                        </div>
                        <div class="tech tech-middle">
                            <a href="/single"><img src="{% static 'images/tech2.jpg' %}" alt=""/></a>
                            <a class="power" href="/single">Indian online buyers among world's unhappiest: UN</a>
                        </div>
                        <div class="tech">
                            <a href="/single"><img src="{% static 'images/tech3.jpg' %}" alt=""/></a>
                            <a class="power" href="/single">10 mistakes that will kill your startup</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tech-main">
                        <div class="tech">
                            <a href="/single"><img src="{% static 'images/tech4.jpg' %}" alt=""/></a>
                            <a class="power" href="/single">The section of the mass media industry that focuses on
                                presenting</a>
                        </div>
                        <div class="tech tech-middle">
                            <a href="/single"><img src="{% static 'images/tech5.jpg' %}" alt=""/></a>
                            <a class="power" href="/single">Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem</a>
                        </div>
                        <div class="tech">
                            <a href="/single"><img src="{% static 'images/tech6.jpg' %}" alt=""/></a>
                            <a class="power" href="/single">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <header>
                    <h3 class="title-head">Tech-News</h3>
                </header>
                <div class="article">
                    <div class="article-left">
                        <a href="/single"><img src="{% static 'images/t1.jpg' %}"></a>
                    </div>
                    <div class="article-right">
                        <div class="article-title">
                            <p>On Feb 25, 2015 <a class="span_link" href="#"><span
                                    class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span
                                    class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link"
                                                                                           href="#"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>52</a></p>
                            <a class="title" href="/single"> The section of the mass media industry that focuses on
                                presenting</a>
                        </div>
                        <div class="article-text">
                            <p>The standard chunk of Lorem Ipsum used since the 1500s. Sections 1.10.32 and 1.10.33 from
                                "de Finibus Bonorum et Malorum" exact original.....</p>
                            <a href="/single"><img src="{% static 'images/more.png' %}" alt=""/></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="article">
                    <div class="article-left">
                        <iframe width="100%" src="https://www.youtube.com/embed/mbDg4OG7z4Y" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                    <div class="article-right">
                        <div class="article-title">
                            <p>On Apr 11, 2015 <a class="span_link" href="#"><span
                                    class="glyphicon glyphicon-comment"></span>2 </a><a class="span_link" href="#"><span
                                    class="glyphicon glyphicon-eye-open"></span>54 </a><a class="span_link"
                                                                                          href="#"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>18</a></p>
                            <a class="title" href="/single">Contrary to popular belief, Lorem Ipsum is not simply
                                random</a>
                        </div>
                        <div class="article-text">
                            <p>It is a long established fact that a reader will be distracted by the readable.....</p>
                            <a href="/single"><img src="{% static 'images/more.png' %}" alt=""/></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="article">
                    <div class="article-left">
                        <a href="/single"><img src="{% static 'images/t2.jpg' %}"></a>
                    </div>
                    <div class="article-right">
                        <div class="article-title">
                            <p>On Jun 21, 2015 <a class="span_link" href="#"><span
                                    class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span
                                    class="glyphicon glyphicon-eye-open"></span>181 </a><a class="span_link"
                                                                                           href="#"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>89</a></p>
                            <a class="title" href="/single">There are many variations that focuses on presenting</a>
                        </div>
                        <div class="article-text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.....</p>
                            <a href="/single"><img src="{% static 'images/more.png' %}" alt=""/></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="article">
                    <div class="article-left">
                        <a href="/single"><img src="{% static 'images/t3.jpg' %}"></a>
                    </div>
                    <div class="article-right">
                        <div class="article-title">
                            <p>On Jan 17, 2015 <a class="span_link" href="#"><span
                                    class="glyphicon glyphicon-comment"></span>1 </a><a class="span_link" href="#"><span
                                    class="glyphicon glyphicon-eye-open"></span>144 </a><a class="span_link"
                                                                                           href="#"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>74</a></p>
                            <a class="title" href="/single">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                        </div>
                        <div class="article-text">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                                pain was born.....</p>
                            <a href="/single"><img src="{% static 'images/more.png' %}" alt=""/></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="article">
                    <div class="article-left">
                        <iframe width="100%" src="https://www.youtube.com/embed/GxXxvJYUpxk" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                    <div class="article-right">
                        <div class="article-title">
                            <p>On Mar 14, 2015 <a class="span_link" href="#"><span
                                    class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span
                                    class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link"
                                                                                           href="#"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>68</a></p>
                            <a class="title" href="/single">On the other hand, we denounce with righteous
                                indignation</a>
                        </div>
                        <div class="article-text">
                            <p>It is a long established fact that a reader will be distracted by the readable.....</p>
                            <a href="/single"><img src="{% static 'images/more.png' %}" alt=""/></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="latest-articles">
                <div class="main-title-head">
                    <header>
                        <h3 class="title-head">What's Hot</h3>
                    </header>
                </div>
                <div class="world-news-grids">
                    <div class="world-news-grid">
                        <img src="{% static 'images/tech1.jpg' %}" alt=""/>
                        <a href="/single" class="title">Lorem ipsum dolor sit amet, consectetur </a>
                        <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                        <a class="reu" href="/single"><img src="{% static 'images/more.png' %}" alt=""/></a>
                    </div>
                    <div class="world-news-grid">
                        <img src="{% static 'images/tech5.jpg' %}" alt=""/>
                        <a href="/single" class="title">Lorem ipsum dolor sit amet, consectetur </a>
                        <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                        <a class="reu" href="/single"><img src="{% static 'images/more.png' %}" alt=""/></a>
                    </div>
                    <div class="world-news-grid">
                        <img src="{% static 'images/tech6.jpg' %}" alt=""/>
                        <a href="/single" class="title">Lorem ipsum dolor sit amet, consectetur </a>
                        <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                        <a class="reu" href="/single"><img src="{% static 'images/more.png' %}" alt=""/></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        {% include "sections/sidebar.html" %}

    </div>
</div>
<!-- content-section-ends-here -->
{% endblock %}