<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>
<head>
    <title>Marine Nationale Camerounaise </title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Express News Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>

    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }


    </script>
    <!-- for bootstrap working -->
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			pager: true,
		  });
		});



    </script>
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
            });
        });



    </script>
</head>
<body>
<!-- header-section-starts-here -->
<div class="header">
    <div class="header-top">
        <div class="wrap">
            <div class="top-menu">
                <ul>
                    <li><a href="/">{% trans "Organigramme" %}</a></li>
                    <li><a href="/a_propos">{% trans "Textes officiels" %}</a></li>
                    <li><a href="/actualite">{% trans "Etat-Major" %}</a></li>
                    <li><a href="/forsur">{% trans "FORSUR" %}</a></li>
                    <li><a href="/aem">{% trans "FORFUMAPCO" %}</a></li>
                    <li><a href="/metiers">{% trans "Organismes Sp&eacute;cialis&eacute;s" %}</a></li>
                    <li><a href="https://www.mindef-online.cm" target="_blank">{% trans "MINDEF" %}</a></li>
                </ul>
            </div>
            <div class="num">
                <p>Call us : +237 032 2352 782</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="logo text-center">
            <a href="/"><img src="{% static 'images/logo3.png' %}" alt=""/></a>
        </div>
        <div class="navigation">
            <nav class="navbar navbar-default" role="navigation">
                <div class="wrap">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <!--/.navbar-header-->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">{% trans "Accueil" %}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "A Propos" %}<b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/cemm">{% trans "Page du CEMM" %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/information">{% trans "Informations" %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/historique">{% trans "Historique" %}</a></li>
                                </ul>
                            </li>

                            <li><a href="/action-etat-mer">{% trans "Actualit&eacute;s" %}</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Structures" %}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/forsur">{% trans "FORSUR" %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/forfumapco">{% trans "FORFUMAPCO" %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/organismes_specialises">{% trans "Organismes sp&eacute;cialisés" %}</a></li>
                                </ul>
                            </li>

                            <li><a href="/action-etat-mer">{% trans "Action de l'Etat en Mer" %}</a></li>
                            <li><a href="/metiers">{% trans "M&eacute;tiers" %}</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "M&eacute;diathèque" %}<b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/textes_officiels">{% trans "Textes Officiels" %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/phototheque">{% trans "Photothèque" %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/videotheque">{% trans "Vid&eacute;othèque" %}</a></li>
                                </ul>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                        <div class="search">
                            <!-- start search-->
                            <div class="search-box">
                                <div id="sb-search" class="sb-search">
                                    <form>
                                        <input class="sb-search-input" placeholder="Enter your search term..."
                                               type="search" name="search" id="search">
                                        <input class="sb-search-submit" type="submit" value="">
                                        <span class="sb-icon-search"> </span>
                                    </form>
                                </div>
                            </div>
                            <!-- search-scripts -->
                            <script src="{% static 'js/classie.js' %}"></script>
                            <script src="{% static 'js/uisearch.js' %}"></script>
                            <script>
							new UISearch( document.getElementById( 'sb-search' ) );

                            </script>
                            <!-- //search-scripts -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/.navbar-collapse-->
                <!--/.navbar-->
            </nav>
        </div>

    </div>
</div>
<!-- header-section-ends-here -->
<div class="wrap">
    <div class="move-text">
        <div class="breaking_news">
            <h2>{% trans "Derni&egrave;res nouvelles" %}</h2>
        </div>
        <div class="marquee">
            <div class="marquee1"><a class="breaking" href="/single">>> Groupe Naval déployé dans le Golfe de Guin&eacute;e à
                l'occasion des festivit&eacute;s du 20 Mai 2018...</a></div>
            <div class="marquee1"><a class="breaking" href="/single">>> L'Amiral Commandant la Marine Br&eacute;silienne en
                visite au Cameroun...</a></div>
            <div class="marquee1"><a class="breaking" href="/single">>> Remise des &eacute;paulettes et des d&eacute;corations...</a>
            </div>
            <div class="clearfix"></div>
            {% for item in list %}

            {% endfor %}
        </div>
        <div class="clearfix"></div>
        <script type="text/javascript" src="{% static 'js/jquery.marquee.min.js' %}"></script>
        <script>
			  $('.marquee').marquee({ pauseOnHover: true });
			  //@ sourceURL=pen.js

        </script>
    </div>
</div>
<!-- content-section-starts-here -->

{% block content %}

{% endblock %}

<!-- content-section-ends-here -->

<!-- footer-section-starts-here -->
<div class="footer">
    <div class="footer-top">
        <div class="wrap">
            <div class="col-md-3 col-xs-6 col-sm-4 footer-grid">
                <h4 class="footer-head">{% trans "A Propos" %}</h4>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout.</p>
                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                    opposed to using 'Content here.</p>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-2 footer-grid">
                <h4 class="footer-head">{% trans "Cat&eacute;gories" %}</h4>
                <ul class="cat">
                    <li><a href="/cemm">{% trans "Page du CEMM" %}</a></li>
                    <li><a href="/historique">{% trans "Historique" %}</a></li>
                    <li><a href="/concours">{% trans "Concours m&eacute;tiers" %}</a></li>
                    <li><a href="/formations">{% trans "Formations" %}</a></li>
                    <li><a href="/organisation">{% trans "Organisations" %}</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-6 col-sm-6 footer-grid">
                <h4 class="footer-head">Liens utiles</h4>
                 <ul class="cat">
                    <li><a href="https://www.mindef-online.cm/" target="_blank">{% trans "Minist&egrave;re de la d&eacute;fense" %}</a></li>
                    <li><a href="https://www.prc.cm/" target="_blank">{% trans "Pr&eacute;sidence de la R&eacute;publique" %}</a></li>
                    <li><a href="https://www.spm.gov.cm" target="_blank">{% trans "Pr&eacute;mier Minist&egrave;re" %}</a></li>
                    <!--<li><a href="/formations">{% trans "Formations" %}</a></li>-->
                    <!--<li><a href="/organisation">{% trans "Organisations" %}</a></li>-->
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 footer-grid">
                <h4 class="footer-head">{% trans "Contactez Nous" %}</h4>
                <span class="hq">{% trans "Etat-major de la marine" %}</span>
                <address>
                    <ul class="location">
                        <li><span class="glyphicon glyphicon-map-marker"></span></li>
                        <li>Central Business District in Yaound&eacute;, not far from the Intendance's pharmacy</li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="location">
                        <li><span class="glyphicon glyphicon-earphone"></span></li>
                        <li>+237 561 111 235</li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="location">
                        <li><span class="glyphicon glyphicon-envelope"></span></li>
                        <li><a href="mailto:info@navy.cm">mail@navy.mil.cm</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </address>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copyrights col-md-6">
                <p> © {% now 'Y' %} {% trans "Marine Nationale Camerounaise" %}. {% trans "All Rights Reserved | Design by" %} <a
                            href="http://w3layouts.com/"> W3layouts</a></p>
            </div>
            <div class="footer-social-icons col-md-6">
                <ul>
                    <li><a class="facebook" href="https://www.facebook.com/cameroonnavy/"></a></li>
                    <li><a class="twitter" href="#"></a></li>
                    <li><a class="googleplus" href="#"></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- footer-section-ends-here -->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				wrapID: 'toTop', // fading element id
				wrapHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});



</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>