{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block content %}

<div class="main-body">
    <div class="wrap">
        <div class="col-md-8 content-left">
            <div class="slider">
                <div class="callbacks_wrap">
                    <ul class="rslides" id="slider">
                        <li>
                            <img src="{% static 'images/fb-image4.png' %}" alt="">
                            <div class="caption">
                                <a href="/single">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry</a>
                            </div>
                        </li>
                        <li>
                            <img src="{% static 'images/fb-image2.jpg' %}" alt="">
                            <div class="caption">
                                <a href="/single">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque</a>
                            </div>
                        </li>
                        <li>
                            <img src="{% static 'images/fb-image3.png' %}" alt="">
                            <div class="caption">
                                <a href="/single">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                    blanditiis praesentium</a>
                            </div>
                        </li>
                        <li>
                            <img src="{% static 'images/fb-image5.png' %}" alt="">
                            <div class="caption">
                                <a href="/single">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                    blanditiis praesentium</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="articles">
                <header>
                    <h3 class="title-head">Actualites</h3>
                </header>
                <div class="article">
                    <div class="article-left">
                        <a href="/20mai"><img src="{% static 'images/marine/actualite-20mai-home.png' %}"></a>
                    </div>
                    <div class="article-right">
                        <div class="article-title">

                            <a class="title" href="/20mai">Déploiement d’un Groupe Naval à l’occasion de la célébration du 20 mai 2018</a>
                        </div>
                        <div class="article-text">
                            <p>A l’occasion de la célébration de la 46e édition de la fête de l’unité nationale, la Marine Nationale a déployé un Groupe naval composé de 3 patrouilleurs  de haute mer.....</p>
                            <a href="/20mai"><img src="{% static 'images/more-blue.png' %}" alt=""/></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="article">
                    <div class="article-left">
                        <a href="/single"><img src="{% static 'images/marine/art_cosco1.png' %}"></a>
                    </div>
                    <div class="article-right">
                        <div class="article-title">

                            <a class="title" href="/single">There are many variations that focuses on presenting</a>
                        </div>
                        <div class="article-text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.....</p>
                            <a href="/single"><img src="{% static 'images/more-blue.png' %}" alt=""/></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="article">
                    <div class="article-left">
                        <a href="/single"><img src="{% static 'images/marine/art_dipikar.png' %}"></a>
                    </div>
                    <div class="article-right">
                        <div class="article-title">

                            <a class="title" href="/single">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit</a>
                        </div>
                        <div class="article-text">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                                pain was born.....</p>
                            <a href="/single"><img src="{% static 'images/more-blue.png' %}" alt=""/></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="article">
                    <div class="article-left">
                        <a href="/single"><img src="{% static 'images/marine/art_p108_p109.png' %}"></a>
                    </div>
                    <div class="article-right">
                        <div class="article-title">

                            <a class="title" href="/single">On the other hand, we denounce with righteous
                                indignation</a>
                        </div>
                        <div class="article-text">
                            <p>It is a long established fact that a reader will be distracted by the readable.....</p>
                            <a href="/single"><img src="{% static 'images/more-blue.png' %}" alt=""/></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        {% include "sections/sidebar.html" %}

    </div>
</div>

{% endblock %}"