
{% extends "base.html"%}

{% load staticfiles %}

{% block content %}
	<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
            <div class="about-page">
                <div>
                    {% if user.is_authenticated %}
                        <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
                    {% else %}
                        <p>Welcome, new user. Please log in.</p>
                    {% endif %}
                    <form method="post" action="/login/">{% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">@</span>
                            <input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">@</span>
                            <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                        </div>

                        <button type="submit">Login</button>
                    </form>
                    {{username}}<br/>
                    Authenticated: {{authenticated}}<br/>
                    {% if user.is_authenticated %}
                        <p>{{ user }} is logged in </p>
                    {% else %}
                        no user
                    {% endif %}
                    {{request.user }}
                </div>

                <div class="clearfix"></div>
            </div>
		</div>
    </div>
<!-- content-section-ends-here -->
{% endblock %}